@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Open+Sans&display=swap');

*{
    background-color: rgb(35, 15, 46);
    color: antiquewhite;
    font-family: 'Inter', sans-serif;
}

.name-header{
    text-align: left;
}

.navigation{
    text-align: right;
    padding-top: 40px;
    padding-right: 40px;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    padding: 30px;
    transition-duration: 0.4s;
  }

.header{
    display: flex;
    justify-content: space-between;
}

.dp{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.nav-link{
    text-decoration: none;
    font-weight: 300;
}

.welcome-page{  
    font-size: xx-large;  
    text-align: center;
    padding-top: 200px;
}

.dive-button{
    background-color : rgb(52, 189, 52);
    color : white;
    padding: 15px 32px;
    border-radius: 25px;
    border: 0px;
    transition-duration: 0.4s;
    text-shadow: 1px 1px #0f0101;
}

.dive-button:hover{
    background-color : rgb(52, 150, 52);
}

.about-description{
    text-align: center;
    padding: 20px;
    font-size: larger;
}

.about-intro{  
    font-size: xx-large;  
    text-align: center;
}

.about-languages{  
    font-size: x-large;  
    text-align: center;
}

.about-lang-pic img{
    margin-left: 100px;
    transition-duration: 0.3s; 
}

.edu-description{
    text-align: center;
    padding: 20px;
    font-size: larger;
}

.edu-intro{  
    font-size: xx-large;  
    text-align: center;
}

.edu-description table, .edu-description th, .edu-description td{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border: 1px solid;
    border-collapse: collapse;
}

.edu-description table{
    margin: 0 auto;
}

.contact-intro{
    font-size: xx-large;  
    text-align: center;
}

.contact-description th, .contact-description td{
    text-align: center;
    padding: 20px;
    font-size: 20px;   
}

.contact-description table{
    margin: 0 auto;
}

.contact-description a{
    text-decoration: none;
    font-weight: 300;
}
