*{
    font-family: sans-serif;
    width: fit-content;
}

.heading{
    background: orange;
    color:rgb(247, 228, 201);
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;    
}

.main-form{
    background: rgb(49, 41, 41);
    color: orange;
}

.footer{
    background: orange;
    color:rgb(181, 233, 161);
    font-size: medium;
    padding-left: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.submit-button{
    background-color : green;
    color : white;
  }
  
.cancel-button{
    background-color : red;
    color : white;
  }
